body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  text-align: center;
}

.page {
  padding: 40px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.gift-box {
  font-size: 80px;
  cursor: pointer;
  margin-top: 40px;
}

.share-btn {
  margin-top: 20px;
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  background: #ff4d6d;
  color: white;
  font-size: 16px;
}



@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  .card-grid {
    grid-template-columns: 1fr;
  }

  .gift-box {
    font-size: 60px;
  }
}

.hearts {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
}

.heart {
  position: absolute;
  font-size: 24px;
}
